*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

header{
    background:#1e293b;
    padding:20px;
    text-align:center;
}

header h1{
    color:#38bdf8;
    margin-bottom:10px;
}

main{
    max-width:900px;
    margin:auto;
    padding:20px;
}

input,select{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:none;
    border-radius:8px;
    font-size:16px;
}

#lista{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.card{
    background:#1e293b;
    border-radius:10px;
    padding:15px;
}

.preco{
    color:#22c55e;
    font-size:22px;
    font-weight:bold;
}

.menor{
    border:2px solid #22c55e;
}