*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

main{
    max-width:900px;
    margin:auto;
    padding:20px;
}

input,select{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:none;
    border-radius:8px;
    font-size:16px;
}

#lista{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.card{
    background:#ffffff;
    border-radius:18px;
    padding:20px;
    margin-bottom:18px;
    box-shadow:0 8px 20px rgba(0,0,0,.12);
    border:1px solid #e5e7eb;
    transition:all .3s ease;
}

.card:hover{
    transform:translateY(-6px);
    box-shadow:0 15px 30px rgba(0,0,0,.18);
}

.card h3{
    margin:0 0 15px;
    font-size:22px;
    color:#0f172a;
}

.card p{
    margin:8px 0;
    color:#475569;
    font-size:16px;
    line-height:1.4;
}
.card p strong{
    color:#16a34a;
    font-size:22px;
}

.cheapest{
    border:3px solid #22c55e;
    position:relative;
}

.cheapest::before{
    content:"🏆 MENOR PREÇO";
    position:absolute;
    top:-12px;
    right:15px;
    background:#22c55e;
    color:white;
    font-size:12px;
    font-weight:bold;
    padding:5px 10px;
    border-radius:20px;
}

.preco{
    color:#22c55e;
    font-size:22px;
    font-weight:bold;
}

.menor{
    border:2px solid #22c55e;
}
header{
    background:#16a34a;
    color:white;
    text-align:center;
    padding:25px;
    border-radius:0 0 20px 20px;
    box-shadow:0 4px 12px rgba(0,0,0,.3);
}

header h1{
    margin:0;
    font-size:34px;
    font-weight:bold;
}

header p{
    margin-top:8px;
    font-size:16px;
    opacity:.9;
}
