*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

}

main{
    max-width:900px;
    margin:auto;
    padding:20px;
}

input,select{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:none;
    border-radius:8px;
    font-size:16px;
}

#lista{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.card{
    background:#1e293b;
    border-radius:10px;
    padding:15px;
}

.preco{
    color:#22c55e;
    font-size:22px;
    font-weight:bold;
}

.menor{
    border:2px solid #22c55e;
}
header{
    background:#16a34a;
    color:white;
    text-align:center;
    padding:25px;
    border-radius:0 0 20px 20px;
    box-shadow:0 4px 12px rgba(0,0,0,.3);
}

header h1{
    margin:0;
    font-size:34px;
    font-weight:bold;
}

header p{
    margin-top:8px;
    font-size:16px;
    opacity:.9;
}
